# Dataset import and EDA

thanks to https://github.com/trqmorgan for compiling the .csv in his "QFL-Pettijohn-Ternary" repository

In [20]:
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np 
from sklearn.cluster import KMeans
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [21]:
data = pd.read_csv("data.csv")

In [5]:
data.head()

   Classification   Qm  Qmu  Qp  Plag  Afsp  Lf  Pore  PM+Cem
0       Subarkose   84   65  33    10    22   0    53      33
1  Quartz arenite   91  107   2     6     0   0    79      15
2       Subarkose   66  155   5    13     3   0    52       6
3       Subarkose  126   40   3    12    40   0    30      49
4       Subarkose  131   64   3    10    23   0    58      11

In [6]:
data.dtypes

Classification    object
Qm                 int64
Qmu                int64
Qp                 int64
Plag               int64
Afsp               int64
Lf                 int64
Pore               int64
PM+Cem             int64
dtype: object

In [7]:
data.describe()

,Qm,Qmu,Qp,Plag,Afsp,Lf,Pore,PM+Cem
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,96.840909,89.522727,11.318182,8.159091,9.068182,0.931818,37.568182,42.818182
std,29.095627,31.914485,11.141318,13.392020,15.270275,3.245016,21.016492,37.553851
min,25.000000,13.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,80.500000,64.750000,3.000000,0.000000,0.000000,0.000000,21.000000,16.500000
50%,91.000000,94.000000,6.500000,4.000000,1.000000,0.000000,40.500000,34.000000
75%,107.750000,114.250000,15.500000,9.250000,13.500000,0.000000,52.250000,54.500000
max,200.000000,155.000000,39.000000,58.000000,64.000000,18.000000,79.000000,180.000000

### Check unique classes in Classification column

In [8]:
data.Classification.unique()

array(['Subarkose', 'Quartz arenite', 'Arkose', 'Sublitharenite'],
      dtype=object)

In [9]:
def groups(df):
    """groups the dataframe by the "Classification" column and count number of items by "Classification" unique values"""
    return df.groupby('Classification').size()

result = groups(data)
result

Classification
Arkose             7
Quartz arenite    25
Subarkose         11
Sublitharenite     1
dtype: int64

There is an overrepresentation of items in Quartz Arenite (25) and almost none Sublitharenite (1)

In [14]:
def display_df(df):
    """returns dataframe without column "Classification""""
    return df.drop(columns=["Classification"])

0          Subarkose
1     Quartz arenite
2          Subarkose
3          Subarkose
4          Subarkose
5             Arkose
6             Arkose
7             Arkose
8     Quartz arenite
9     Quartz arenite
10    Quartz arenite
11         Subarkose
12            Arkose
13            Arkose
14         Subarkose
15         Subarkose
16    Quartz arenite
17    Quartz arenite
18    Quartz arenite
19         Subarkose
20    Quartz arenite
21    Quartz arenite
22    Quartz arenite
23    Quartz arenite
24    Quartz arenite
25    Quartz arenite
26            Arkose
27    Quartz arenite
28    Quartz arenite
29         Subarkose
30         Subarkose
31         Subarkose
32    Quartz arenite
33    Quartz arenite
34            Arkose
35    Sublitharenite
36    Quartz arenite
37    Quartz arenite
38    Quartz arenite
39    Quartz arenite
40    Quartz arenite
41    Quartz arenite
42    Quartz arenite
43    Quartz arenite
Name: Classification, dtype: object

In [16]:
def cluster_dataframe(df, k=4):
    """Cluster a dataframe using all integer type columns and group them in k clusters"""
    df = df.copy()
    df = df.drop(columns=["Classification"])
    df = df.apply(pd.to_numeric, errors='coerce')
    df = df.dropna()
    df = df.astype(int)
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(df)
    df['cluster'] = kmeans.labels_
    return df

clustered = cluster_dataframe(data, 4)
clustered

     Qm  Qmu  Qp  Plag  Afsp  Lf  Pore  PM+Cem  cluster
0    84   65  33    10    22   0    53      33        0
1    91  107   2     6     0   0    79      15        1
2    66  155   5    13     3   0    52       6        1
3   126   40   3    12    40   0    30      49        3
4   131   64   3    10    23   0    58      11        3
5   133   42   1     2    54   0    46      22        3
6    74   72   2    10    64   0    28      50        0
7    83   75   5     8    39   0    39      51        0
8    90   75  13     0     0   0     5     117        2
9   200   80  11     0     0   0     9       0        3
10   79  115   1     0     0   0    54      51        1
11   88  111   4     4    22   0    60      11        1
12   56   77   3    53     7   0    22      56        0
13   74   62   1    41     5   0    23      58        0
14  105  110   2    11     5   0    43      24        1
15   93   56   1     9     2   0    10     129        2
16  142   60   2     0     0   0    49      47        3
17   99   94  17     2     1   0    76      11        1
18  148   73   4     5     1   0    38      18        3
19  127   90   1    13    13   0    16      40        3
20   93   94  36     1     0   2    45      29        1
21   93  106   9     3     0   0    14      75        0
22   88   96  35     0     0   0    27      54        0
23   91  119   8     6     1   0    30      37        1
24   91  100  20     0     0   0    17      72        0
25   69  118  23     1     0   0    18      71        0
26   83   13   3    58    15   0     0     128        2
27  116   88  34     0     0  12    22      28        3
28  127   59  11     0     0   0    62      41        3
29  130   49  11     7    28   0    37      38        3
30  105  108   5     5    17   2    50       8        1
31   81  107  15     8    11   1    62      15        1
32   67  121  39     5     0   0    51      17        1
33   87  127  12     2     1   0    42      29        1
34   25   37   3    37    17   0     1     180        2
35   74   96  28     1     4  18    58      21        1
36   74  132  21     3     2   3    57       8        1
37   94  114  11     0     0   2    16      29        1
38   75  135   5     0     0   0    50      35        1
39   95  132  10     6     0   0    47      10        1
40   90  118   5     4     1   0    78       4        1
41  123   34  24     0     1   0    10      59        3
42   98  123  13     0     0   1    44      21        1
43  103   90   3     3     0   0    25      76        0

In [17]:
clustered["Classification"] = data["Classification"]

In [18]:
clustered

     Qm  Qmu  Qp  Plag  Afsp  Lf  Pore  PM+Cem  cluster  Classification
0    84   65  33    10    22   0    53      33        0       Subarkose
1    91  107   2     6     0   0    79      15        1  Quartz arenite
2    66  155   5    13     3   0    52       6        1       Subarkose
3   126   40   3    12    40   0    30      49        3       Subarkose
4   131   64   3    10    23   0    58      11        3       Subarkose
5   133   42   1     2    54   0    46      22        3          Arkose
6    74   72   2    10    64   0    28      50        0          Arkose
7    83   75   5     8    39   0    39      51        0          Arkose
8    90   75  13     0     0   0     5     117        2  Quartz arenite
9   200   80  11     0     0   0     9       0        3  Quartz arenite
10   79  115   1     0     0   0    54      51        1  Quartz arenite
11   88  111   4     4    22   0    60      11        1       Subarkose
12   56   77   3    53     7   0    22      56        0          Arkose
13   74   62   1    41     5   0    23      58        0          Arkose
14  105  110   2    11     5   0    43      24        1       Subarkose
15   93   56   1     9     2   0    10     129        2       Subarkose
16  142   60   2     0     0   0    49      47        3  Quartz arenite
17   99   94  17     2     1   0    76      11        1  Quartz arenite
18  148   73   4     5     1   0    38      18        3  Quartz arenite
19  127   90   1    13    13   0    16      40        3       Subarkose
20   93   94  36     1     0   2    45      29        1  Quartz arenite
21   93  106   9     3     0   0    14      75        0  Quartz arenite
22   88   96  35     0     0   0    27      54        0  Quartz arenite
23   91  119   8     6     1   0    30      37        1  Quartz arenite
24   91  100  20     0     0   0    17      72        0  Quartz arenite
25   69  118  23     1     0   0    18      71        0  Quartz arenite
26   83   13   3    58    15   0     0     128        2          Arkose
27  116   88  34     0     0  12    22      28        3  Quartz arenite
28  127   59  11     0     0   0    62      41        3  Quartz arenite
29  130   49  11     7    28   0    37      38        3       Subarkose
30  105  108   5     5    17   2    50       8        1       Subarkose
31   81  107  15     8    11   1    62      15        1       Subarkose
32   67  121  39     5     0   0    51      17        1  Quartz arenite
33   87  127  12     2     1   0    42      29        1  Quartz arenite
34   25   37   3    37    17   0     1     180        2          Arkose
35   74   96  28     1     4  18    58      21        1  Sublitharenite
36   74  132  21     3     2   3    57       8        1  Quartz arenite
37   94  114  11     0     0   2    16      29        1  Quartz arenite
38   75  135   5     0     0   0    50      35        1  Quartz arenite
39   95  132  10     6     0   0    47      10        1  Quartz arenite
40   90  118   5     4     1   0    78       4        1  Quartz arenite
41  123   34  24     0     1   0    10      59        3  Quartz arenite
42   98  123  13     0     0   1    44      21        1  Quartz arenite
43  103   90   3     3     0   0    25      76        0  Quartz arenite

## Using only Qm, Qmu, Qp, Plag, Afsp and Lf Columns

In [19]:
def cluster_dataframe(df, k=4):
    """Cluster a dataframe using all integer type columns and group them in k clusters"""
    df = df.copy()
    df = df.drop(columns=["Classification", "Pore", "PM+Cem"])
    df = df.apply(pd.to_numeric, errors='coerce')
    df = df.dropna()
    df = df.astype(int)
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(df)
    df['cluster'] = kmeans.labels_
    return df

clustered = cluster_dataframe(data, 4)
clustered["Classification"] = data["Classification"]
clustered

     Qm  Qmu  Qp  Plag  Afsp  Lf  cluster  Classification
0    84   65  33    10    22   0        0       Subarkose
1    91  107   2     6     0   0        1  Quartz arenite
2    66  155   5    13     3   0        1       Subarkose
3   126   40   3    12    40   0        3       Subarkose
4   131   64   3    10    23   0        3       Subarkose
5   133   42   1     2    54   0        3          Arkose
6    74   72   2    10    64   0        0          Arkose
7    83   75   5     8    39   0        0          Arkose
8    90   75  13     0     0   0        0  Quartz arenite
9   200   80  11     0     0   0        3  Quartz arenite
10   79  115   1     0     0   0        1  Quartz arenite
11   88  111   4     4    22   0        1       Subarkose
12   56   77   3    53     7   0        2          Arkose
13   74   62   1    41     5   0        2          Arkose
14  105  110   2    11     5   0        1       Subarkose
15   93   56   1     9     2   0        0       Subarkose
16  142   60   2     0     0   0        3  Quartz arenite
17   99   94  17     2     1   0        0  Quartz arenite
18  148   73   4     5     1   0        3  Quartz arenite
19  127   90   1    13    13   0        3       Subarkose
20   93   94  36     1     0   2        0  Quartz arenite
21   93  106   9     3     0   0        1  Quartz arenite
22   88   96  35     0     0   0        0  Quartz arenite
23   91  119   8     6     1   0        1  Quartz arenite
24   91  100  20     0     0   0        1  Quartz arenite
25   69  118  23     1     0   0        1  Quartz arenite
26   83   13   3    58    15   0        2          Arkose
27  116   88  34     0     0  12        0  Quartz arenite
28  127   59  11     0     0   0        3  Quartz arenite
29  130   49  11     7    28   0        3       Subarkose
30  105  108   5     5    17   2        1       Subarkose
31   81  107  15     8    11   1        1       Subarkose
32   67  121  39     5     0   0        1  Quartz arenite
33   87  127  12     2     1   0        1  Quartz arenite
34   25   37   3    37    17   0        2          Arkose
35   74   96  28     1     4  18        0  Sublitharenite
36   74  132  21     3     2   3        1  Quartz arenite
37   94  114  11     0     0   2        1  Quartz arenite
38   75  135   5     0     0   0        1  Quartz arenite
39   95  132  10     6     0   0        1  Quartz arenite
40   90  118   5     4     1   0        1  Quartz arenite
41  123   34  24     0     1   0        3  Quartz arenite
42   98  123  13     0     0   1        1  Quartz arenite
43  103   90   3     3     0   0        0  Quartz arenite

## Using a neural network (NEED A BIGGER DATASET)

In [24]:
labels = data["Classification"].copy()
features = data.drop(columns=["Classification"]).copy()

In [46]:
def neural_net(labels,features):
    """Train a neural network to classify into labels dataframe given a features dataframe"""
    # Import the `neural_network` function from `sklearn.neural_network`
    from sklearn.neural_network import MLPClassifier
    
    # Create the classifier: clf
    clf = MLPClassifier(hidden_layer_sizes=(128,), activation="relu", max_iter=20, alpha=1e-4,
                     solver='adam', verbose=True, tol=1e-4, random_state=1,
                     learning_rate_init=.1)
    
    # Fit the classifier to the training data
    clf.fit(features, labels)
    
    return clf

In [47]:
clf = neural_net(labels, features)

Iteration 1, loss = 8.18018795
Iteration 2, loss = 24.21230216
Iteration 3, loss = 30.30948296
Iteration 4, loss = 9.88007831
Iteration 5, loss = 13.68022996
Iteration 6, loss = 33.21603596
Iteration 7, loss = 6.38629593
Iteration 8, loss = 3.35115452
Iteration 9, loss = 2.78784699
Iteration 10, loss = 3.73717405
Iteration 11, loss = 4.75834457
Iteration 12, loss = 3.30780738
Iteration 13, loss = 1.81508373
Iteration 14, loss = 1.35263242
Iteration 15, loss = 2.22172046
Iteration 16, loss = 1.20616628
Iteration 17, loss = 0.81909525
Iteration 18, loss = 0.88694307
Iteration 19, loss = 0.85504061
Iteration 20, loss = 0.77372479

C:\Users\ferreira\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (20) reached and the optimization hasn't converged yet.
  warnings.warn(

In [48]:
for i in range(len(data)):
    print(clf.predict(features.iloc[[i]]))

['Subarkose']
['Quartz arenite']
['Subarkose']
['Subarkose']
['Subarkose']
['Arkose']
['Arkose']
['Subarkose']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Subarkose']
['Arkose']
['Subarkose']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Arkose']
['Quartz arenite']
['Quartz arenite']
['Subarkose']
['Subarkose']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Arkose']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']
['Subarkose']
['Quartz arenite']
['Quartz arenite']
['Quartz arenite']